** Use Cases **

1. User Sign Up -> Email & Password & Name -> Add Data To Database

2. User Login -> Email & Password == Database

3. Add Task
4. Delete Task
5. Mark Complete
6. Edit Task

7. add place
8. delete place
9. edit place

** APIs **

1. User Sign Up
   -- { email, name, password }

2. User Log In
   -- { email, password }
   

validation 
The validatorjs library simplifies data validation in JavaScript. From the official site, some of the advantages of validatorjs are:

Ability to work in both the browser and Node
Readable and declarative validation rules
Error messages with multilingual support
CommonJS/Browserify support
ES6 support

install

git clone -b validation-starter https://github.com/lawrenceagles/validatorjs-example
